*.egg-info/
.ipynb_checkpoints/
__pycache__/
*.pyc
dist/
build/
.DS_Store

data/sources/Broad_pipeline_wxs/
data/sources/cptac_tables/
data/sources/gistic_tables/
tmp/
*/output
*/run*
*/all_run*
*/tmp*
slurm*.out

cnvutils/cnvutils/entrez_api_key.txt
