*.egg-info/
.ipynb_checkpoints/
__pycache__/
*.pyc
dist/
build/
.DS_Store

00_functions/data/sources/Broad_pipeline_wxs/
00_functions/data/sources/cptac_tables/
00_functions/data/sources/gistic_tables/
00_functions/tmp/
00_functions/*/output
00_functions/*/run*
00_functions/*/all_run*
00_functions/*/tmp*
slurm*.out

cnvutils/cnvutils/entrez_api_key.txt
